body{
    background-color: rgb(255, 254, 254);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(82, 82, 82);
}

a:link{
    color: rgb(93, 206, 255);
    text-decoration: none;
}
a:visited{
    color: rgb(0, 138, 163);
    text-decoration: none;
}
a:hover{
    color: rgb(82, 82, 82);
    text-decoration: none;
}
a:active{
    color: rgb(47, 47, 47);
    text-decoration: none;
}

li{  
    color: rgb(22, 22, 22);
}

ul#menu li{
    display: inline;
    margin-right: 20px;
    
    
}

h1{
    background-color: rgb(226, 226, 226);
    font-size:xx-large;
    
    color:rgb(22, 22, 22);
}

.alhaalla{
    background-color:rgb(43, 43, 43);

    color: rgb(103, 103, 103);
    
}

h3, .alhaalla{
    color: rgb(255, 255, 255);
}

p, .alhaalla{
    color: rgb(103, 103, 103);
}

div{
    column-count: 3;
}

a.ala:link{
    color: rgb(103, 103, 103);
    text-decoration: none;
}
a.ala:visited{
    color: rgb(155, 155, 155);
    text-decoration: none;
}
a.ala:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.ala:active{
    color: rgb(47, 47, 47);
    text-decoration: none;
}




